<button class="btn btn-secondary me-1 rounded-circle set-size-25" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Call us">
    <a href=""><i class="fas fa-phone"></i></a>
</button>
<button class="btn btn-secondary mx-1 rounded-circle set-size-25" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Message us" id="openModalButton">
    <i class="fas fa-envelope"></i>
</button>
<button class="btn btn-secondary ms-1 rounded-circle set-size-25" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Meet us">
    <a href=""><i class="fas fa-calendar"></i></a>
</button>