<div class="py-5 text-center introText vw-100 center-vertically">
    <div class="svgWrap svg-color">
        <include src="./src/partials/angledLogo.html"></include>
    </div>
    <div class="col-lg-7 mx-auto">
        <h1 class="fw-bold text-primary">
            building websites at light speed
        </h1>
        <p class="lead mb-4">
            welcome to rocket.dev - a cornish based web development company. we build websites, and we do it well.
        </p>
        <div class="d-grid gap-2 d-flex justify-content-center">
            <div class="pulse-button">
                <a href="#introBlock">
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
            <div class="pulse-bg"></div>
        </div>

    </div>
</div>