<ul class="nav col-4 pb-2 mb-2 justify-content-center list-unstyled d-flex border-darker border-bottom">
    <li class="mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="X/Twitter">
        <a class="socialIcon" href="#">
            <i class="fab fa-x-twitter"></i>
        </a>
    </li>
    <li class="mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
        <a class="socialIcon" href="#">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
        <a class="socialIcon" href="#">
            <i class="fab fa-facebook"></i>
        </a>
    </li>

</ul>