// _cards.scss

.service-card {
  transition: 0.4s;

  .card-header {
    border-radius: 0;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.1);
    z-index: 10;
    filter: brightness(1.2);

    .read-more-btn {
      display: block;
    }
  }

  .read-more-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $primary;
    border: 0;
    border-radius: 0;
    display: none;

    a {
      color: $white;
      text-decoration: none !important;
    }

    &:hover {
      background-color: $secondary;
      color: $dark;

      &::after {
        filter: brightness(0);
      }
    }

    &::after {
      filter: brightness(10);
    }
  }
}




.hover-card-container {
  width: 100%;
  display: flex;
}

.hover-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $darker;
  box-shadow: -.5rem 0 2rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  padding: 10px;

  @media screen and (min-width: 992px) {

    &:not(:first-child) {
      margin-left: -50px;
    }

    &:hover {
      transform: translateY(-20px);
      transition: 0.4s ease-out;
    }

    &:hover~.hover-card {
      position: relative;
      left: 50px;
      transition: 0.4s ease-out;
    }

  }
  @media screen and (max-width: 992px) {

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &:hover {
      transform: translateY(-20px);
      transition: 0.4s ease-out;
    }

    &:hover~.hover-card {
      position: relative;
      transition: 0.4s ease-out;
    }
    
  }

  .title {
    color: $primary;
    font-weight: 300;
    left: 20px;
    top: 15px;
  }
}