// _colours.scss

// Background Colours
.bg-primary {
    background-color: $primary !important;
    --bs-bg-opacity: 1;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-tertiary {
    background-color: $tertiary !important;
}

.bg-dark {
    background-color: $dark !important;
}

.bg-dark-transparent {
    background-color: $darkTransparent !important;
}

.bg-darker {
    background-color: $darker;
}

// Text Colours
.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-tertiary {
    color: $tertiary !important;
}

.text-dark {
    color: $dark !important;
}

.text-darker {
    color: $darker !important;
}

// Border Colours  

.border-primary {
    border-color: $primary !important;
}

.border-secondary {
    border-color: $secondary !important;
}

.border-tertiary {
    border-color: $tertiary !important;
}

.border-dark {
    border-color: $dark !important;
}

.border-darker {
    border-color: $darker !important;
}

// SVG Logo Colours

//Full Colour Options
.svg-color .cls-white {
    fill: $white!important;
}

.svg-color .cls-primary {
    fill: $primary!important;
}

.svg-color .cls-secondary {
    fill: $secondary!important;
}

.svg-color .cls-tertiary {
    fill: $tertiary!important;
}

// Monochrome Options

.svg-mono .cls-white, .svg-mono .cls-primary, .svg-mono .cls-secondary, .svg-mono .cls-tertiary {
    fill: $darker!important;
}
