// _variables.scss

$white: #fff; // White
$black: #000; // Black


$primary: #F6635C;
$secondary: #FFBA86;
$tertiary: #C23373;
$dark: #3D0A27;
$darkTransparent: rgba(61, 10, 39, 0.8);
$darker: #1F0A14;