// _colours.scss

// Background Colours
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-tirtiary {
    background-color: $tirtiary !important;
}

.bg-dark {
    background-color: $darkPurple !important;
}

.bg-dark-transparent {
    background-color: $darkTransparent !important;
}

.bg-darker {
  background-color: $darkerPurple;
}

// Text Colours
.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-tirtiary {
    color: $tirtiary !important;
}

.text-dark {
    color: $darkPurple !important;
}

.text-darker {
  color: $darkerPurple !important;
}

// Border Colours  

.border-primary {
    border-color: $primary !important;
}

.border-secondary {
    border-color: $secondary !important;
}

.border-tirtiary {
    border-color: $tirtiary !important;
}

.border-dark {
    border-color: $darkPurple !important;
}

.border-darker {
  border-color: $darkerPurple !important;
}